<!DOCTYPE html>
<html>
<head>
 <!-- Required meta tags -->
 <meta charset="utf-8">
 <meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" name="viewport" />

 <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />

<link rel="stylesheet" href="/assets/css/paper-dashboard.css">
<link href="/assets/css/bootstrap.min.css" rel="stylesheet" />

<!--     Fonts and icons     -->
<link href="https://fonts.googleapis.com/css?family=Montserrat:400,700,200" rel="stylesheet" />
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/latest/css/font-awesome.min.css" />
</head>

<body>

    <div class="wrapper">

        <div class="sidebar" data-color="white">
            <!--
            Tip 1: You can change the color of the sidebar using: data-color="white | black"
        
            -->
        
              <div class="logo">
                <a href="#" class="simple-text logo-normal">
                    CRABE
                </a>
              </div>
        
              <div class="sidebar-wrapper">
                
                <ul class="nav">
        
                    <li routerlinkactive="active" class="active">
                        <a routerLink="/patient">
                            <i class="nc-icon nc-app"></i>
                            <p>Patient</p>
                        </a>
        
                        <a routerLink="/observation">
                          <i class="nc-icon nc-app"></i>
                          <p>Observation</p>
                      </a>
        
                      <a routerLink="/prescription">
                        <i class="nc-icon nc-app"></i>
                        <p>Prescription</p>
                    </a>
        
                    </li>
        
                    
                </ul>
              </div>
        </div>

        <div class="main-panel"> 
            <div class="content">
                <div class="row">
                    
                        <div class="card card-user">
                            <div class="card-header">
                                <h1>Mon profil</h1>
                                <p>Nom : {{patient.name[0].family}}</p>
                                <p>Prénom : {{patient.name[0].given[0]}}, {{patient.name[0].given[1]}}</p>
                                <p>Date de naissance : {{patient.birthDate | slice:0:10}}</p>
                                <p>Adresse : {{patient.address[0].line}}</p>
                                <p>Ville : {{patient.address[0].city}}</p>
                                <p>Numéro de téléphone : {{patient.telecom[0].value}}</p>

                                <a routerLink='/patient/modifier'><button type="button" >Modifier mes informations</button></a>
                            </div>
                        </div>
                    
                    
                </div>

                

            </div>

            

        </div>

        


    </div>
   


</body>
</html>