<div class="row">
    <div class="col-md-12">
        <div class="card">
            <div class="card-header">
                <h5 class="card-title">Mon Profil</h5>
            </div>
            <div class="card-body">
                <p>Nom : {{patient.name[0].family}}</p>
                <p>Prénom : {{patient.name[0].given[0]}}, {{patient.name[0].given[1]}}</p>
                <p>Date de naissance : {{patient.birthDate | slice:0:10}}</p>
                <p>Adresse : {{patient.address[0].line}}</p>
                <p>Ville : {{patient.address[0].city}}</p>
                <p>Numéro de téléphone : {{patient.telecom[0].value}}</p>

                <a routerLink='/patient/modifier'><button type="button">Modifier mes informations</button></a>
            </div>
        </div>
    </div>
</div>