<div class="card">
    <h1>Mon profil</h1>
    <p>Nom : {{patient.name[0].family}}</p>
    <p>Prénom : {{patient.name[0].given[0]}}, {{patient.name[0].given[1]}}</p>
    <p>Date de naissance : {{patient.birthDate | slice:0:10}}</p>
    <p>Adresse : {{patient.address[0].text}}</p>
    <p>Numéro de téléphone : {{patient.telecom[0].value}}</p>
</div>

<div class="contact">
    <div id="1">
        <h2>Contact 1</h2>
        <p>Nom :</p>
        <p>Prénom : </p>
        <p>Numéro de téléphone : </p>
    </div>

</div>
