<body>
  <div class="wrapper">
      <div class="sidebar" data-color="white"  data-active-color="danger">
          <sidebar-cmp>
            <div class="sidebar-wrapper">
              <div class="logo" >
                  <!-- <a href="#" class="simple-text logo-normal">
                      <div class="logo-image-small"> -->
                        
                          <img src="assets/images/logo.png" (click)="show()">
                        
                        <!-- </div>
                  </a> -->
              </div>
              <ul class="nav">
                  <li routerlinkactive="active" class="active">
                      <a routerLink="/patient">
                        <i class = "material-icons">person</i>
                          <p>Patient</p>
                      </a>
                      <a routerLink="/observation">
                        <i class = "material-icons">visibility</i>
                        <p>Observation</p>
                    </a>
                    <a routerLink="/prescription">
                      <i class = "material-icons">description</i>
                      <p>Prescription</p>
                  </a>
                  </li>
              </ul>
            </div>
          </sidebar-cmp>
      </div>
      <div class="main-panel"> 
          <navbar-cmp>
              
              <nav class="navbar navbar-expand-lg navbar-absolute fixed-top navbar-transparent">
                  <div class="container-fluid">
                  <div class="navbar-wrapper">
                      <div class="navbar-toggle">
                      <button type="button" class="navbar-toggler">
                          <span class="navbar-toggler-bar bar1"></span>
                          <span class="navbar-toggler-bar bar2"></span>
                          <span class="navbar-toggler-bar bar3"></span>
                      </button>
                      </div>
                      <a class="navbar-brand">Application Patient</a>
                  </div>
                  <button class="navbar-toggler" type="button">
                      <span class="navbar-toggler-bar navbar-kebab"></span>
                      <span class="navbar-toggler-bar navbar-kebab"></span>
                      <span class="navbar-toggler-bar navbar-kebab"></span>
                  </button>
                  </div>
              </nav>
              
          </navbar-cmp>
          <div class="content">
              <router-outlet></router-outlet>  
          </div>
            <img *ngIf="showEasteregg" class="gifEasterEgg" src='./assets/images/bob_l_eponge_dance.gif'>
          <footer-cmp></footer-cmp>
      </div>
  </div>

  <fixedplugin-cmp></fixedplugin-cmp>
</body>

