<p>Entrez votre niveau de glycémie :</p>
<input (keyup)="onKey($event)" type="integer" required minlength="1"> mol/L
<br>
<br>


<div class="row">
    <div class="col-md-12">
        <div class="card">
            <div class="card-header">
                <h5 class="card-title">Votre profil</h5>
            </div>
            <div class="card-body">
                <p>Nom : {{patient.name[0].family}}</p>
                <p>Prénom : {{patient.name[0].given}} </p>
                <p>Date de naissance : {{patient.birthDate.substring(0,10)}}</p>
                <p>Adresse : {{patient.address[0].text}}</p>
                <p>Numéro de téléphone : {{patient.telecom[0].value}}</p>
                <!-- <p>Médecin traitant : {{practicien.name[0].prefix}} {{practicien.name[0].text}}</p> -->

            </div>
        </div>

        <div class="card">
            <div class="card-header">
                <h5 class="card-title">Médecin traitant</h5>
            </div>
            <div class="card-body">
                <div *ngFor="let p of practicien">
                    <div *ngIf="p.id=='f333'">
                        <p>ID : {{p.id}}</p>
                        <p>Nom : {{p.name[0].family}}</p>
                        <p *ngIf="p.active">Présent</p>
                        <p *ngIf="!p.active">Absent</p>
                        <p>Prénom : {{p.name[0].text.substring(0,7)}}</p>
                        <p>Numéro CNS : {{p.identifier[0].value}}</p>
                        <p>Téléphone : {{p.telecom[0].value}}</p>
                        <p>Adresse : {{p.address[0].line}}, {{p.address[0].city}}</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<button mat-button [matMenuTriggerFor]="menu">Autres médecins</button>
<mat-menu #menu="matMenu">
    <div *ngFor="let p of practicien">
        <button *ngIf="p.active" mat-menu-item (click)="show(p)">{{p.name[0].text}} Actif</button>
        <button *ngIf="!p.active" mat-menu-item (click)="show(p)">{{p.name[0].text}} Absent</button>
    </div>
</mat-menu>

<div *ngIf="showPracticien">
    <div class="row">
        <div class="col-md-12">
            <div class="card">

                <div class="card-header">
                    <h5 class="card-title">Médecin disponible</h5>
                </div>
                <div class="card-body">
                    <div>
                        <p>ID : {{practicienActif.id}}</p>
                        <p>Nom : {{practicienActif.name[0].family}}</p>
                        <p>Prénom : {{practicienActif.name[0].text.substring(0,7)}}</p>
                        <p>Numéro CNS : {{practicienActif.identifier[0].value}}</p>
                        <p>Téléphone : {{practicienActif.telecom[0].value}}</p>
                        <p>Adresse : {{practicienActif.address[0].line}}, {{practicienActif.address[0].city}}</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- <button mat-button [matMenuTriggerFor]="menu">Menu</button>
<mat-menu #menu="matMenu">
    <div *ngFor="let p of practicien">
        <button *ngIf="p.active" mat-menu-item (click)="show(p)">{{p.name[0].text}} Actif</button>
    </div>
</mat-menu>
<div *ngIf="showPracticien">
    <div>
        <b>Médecin disponible :</b>
        <p>ID : {{practicienActif.id}}</p>
        <p>Nom : {{practicienActif.name[0].family}}</p>
        <p>Prénom : {{practicienActif.name[0].text.substring(0,7)}}</p>
        <p>Numéro CNS : {{practicienActif.identifier[0].value}}</p>
        <p>Téléphone : {{practicienActif.telecom[0].value}}</p>
        <p>Adresse : {{practicienActif.address[0].line}}, {{practicienActif.address[0].city}}</p>
    </div>
</div> -->
<br><br>
<button (click)="onSend()">Envoyer</button>
<p *ngIf="envoie"> Votre observation a été envoyé</p>